
@{
    ViewBag.Title = "DaoTao";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="content">
    <div class="content_writer">
        <h2 class="text_title">Chương trình đào tạo hệ đại học chính quy</h2>
        <p>
            Đại học Công nghiệp Hà Nội hướng đến phát triển thành một đại học đa lĩnh vực với nòng cốt là kỹ thuật và công nghệ, trong đó một số đơn vị chuyên môn được tổ chức thành trường, viện, trung tâm nghiên cứu, doanh nghiệp trực thuộc. Nhà trường xây dựng mô hình đại học đào tạo, nghiên cứu nhiều ngành, nhiều loại hình, nhiều cấp trình độ; cung cấp nguồn nhân lực chất lượng cao cho thị trường lao động trong nước và nước ngoài. Đổi mới quản trị đại học, hướng tới xây dựng mô hình đại học thông minh.<br />

            100% các chương trình đào tạo của Nhà trường được xây dựng mới theo chuẩn quốc tế CDIO, nhằm trang bị kiến thức, kỹ năng phổ rộng cơ bản với tư duy sáng tạo, khả năng tự học để người tốt nghiệp có thể thích nghi với các yêu cầu công việc mang tính liên ngành và thường xuyên thay đổi trong thực tế.<br />

            Bên cạnh đó, Đại học Công nghiệp Hà Nội tiếp tục đổi mới các chương trình đào tạo theo tiêu chuẩn quốc tế hướng tới kiểm định chương trình theo chuẩn ABET - Hoa Kỳ. Mỗi năm mở ngành mới đáp ứng nhu cầu xã hội.<br />

            Hiện tại, Nhà trường cung cấp 45 chương trình đào tạo hệ đại học chính quy, cụ thể như sau:
            <pre style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            
Hiện tại, Nhà trường cung cấp 45 chương trình đào tạo hệ đại học chính quy, cụ thể như sau:

1. Thiết kế thời trang

2. Quản trị kinh doanh

3. Marketing

4. Tài chính - Ngân hàng

5. Kế toán

6. Kiểm toán

7. Quản trị nhân lực

8. Quản trị văn phòng

9. Phân tích dữ liệu kinh doanh

10. Khoa học máy tính

11. Mạng máy tính và truyền thông dữ liệu

            </pre>
        </p>
    </div>
    <div class="list_image">
        <img class="introduce_image" src="~/Images/m84969.jpg" />
        <img class="introduce_image" src="~/Images/m84145.jpg" />

    </div>
</div>


