
@{
    ViewBag.Title = "KyThuat";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="content">
    <div class="content_writer">
        <h2 class="text_title">Thông tin tuyển sinh đại học chính quy 2023</h2>
        <p>
            Trường Đại học Công nghiệp Hà Nội là cơ sở giáo dục đại học công lập với bề dày lịch sử 125 năm xây dựng và phát triển luôn được đánh giá là cơ sở đào tạo cán bộ kinh tế - kỹ thuật hàng đầu của cả nước. Đến nay, Nhà trường đã được trao tặng Huân chương Hồ Chí Minh, danh hiệu Anh hùng thời kỳ đổi mới và nhiều danh hiệu cao quý khác. Là cơ sở giáo dục đại học đạt chuẩn kiểm định quốc gia, nhiều ngành và chương trình đào tạo đạt chuẩn kiểm định quốc gia, quốc tế, với trên 30% giảng viên có trình độ tiến sĩ có học hàm giáo sư, phó giáo sư, hệ thống giảng đường, phòng thực hành, thí nghiệm, khu ký túc xá, khu dịch vụ sinh viên khang trang hiện đại trên diện tích gần 50 ha, Nhà trường có đủ điều kiện đảm bảo quy mô đào tạo trên 32.000 học viên, sinh viên các cấp trình độ.

            Chiến lược phát triển của Nhà trường gắn đào tạo với thị trường lao động trong đó chú trọng phát triển năng lực toàn diện của người học thông qua môi trường học tập, sinh hoạt, rèn luyện mang tính mở, năng động và sáng tạo. Tỷ lệ sinh viên có việc làm sau khi tốt nghiệp 1 năm đạt trên 95%. Danh tiếng và vị thế của Nhà trường đã được khảng định và từng bước được nâng cao trong nước và khu vực, trung bình mỗi năm có trên 100.000 nguyện vọng xét tuyển vào trường.

            Năm 2023, Nhà trường tuyển sinh 51 ngành/chương trình đào tạo Đại học chính quy với 7.500 chỉ tiêu
        </p>
        <h2 class="text_title">QUY MÔ ĐÀO TẠO, TỶ LỆ SINH VIÊN CÓ VIỆC LÀM SAU TỐT NGHIỆP</h2>
        <p style="">
            <b>I. CÁC PHƯƠNG THỨC TUYỂN SINH</b><br />
            <b>1. Phương thức 1: Xét tuyển thẳng theo quy định của Bộ GD&ĐT</b><br />

            <b>1.1. Đối tượng tuyển thẳng:</b> Theo quy chế tuyển sinh của Bộ GD&ĐT và Trường;<br />

            <b>1.2. Điều kiện đăng ký xét tuyển:</b><br />

            - Theo quy định tại Thông tư số 08/2022/TT-BGDĐT ngày 06/06/2022 của Bộ trưởng Bộ Giáo dục và Đào tạo, cụ thể: Anh hùng lao động, Anh hùng lực lượng vũ trang nhân dân, Chiến sĩ thi đua toàn quốc; Thí sinh đoạt giải nhất, nhì, ba trong kỳ thi chọn học sinh giỏi quốc gia, quốc tế hoặc thi khoa học, kỹ thuật cấp quốc gia, quốc tế do Bộ GDĐT tổ chức, cử tham gia; Thí sinh đoạt giải nhất, nhì, ba trong các kỳ thi tay nghề khu vực ASEAN và thi tay nghề quốc tế do Bộ Lao động - Thương binh và Xã hội cử đi; thời gian đoạt giải không quá 3 năm tính tới thời điểm xét tuyển thẳng.<br />

            - Theo quy định tại Thông tư số 44/2021/TT-BGDĐT ngày 31/12/2021 của Bộ trưởng Bộ Giáo dục và Đào tạo: cụ thể: Học sinh hoàn thành dự bị đại học khi đăng ký xét tuyển thẳng vào các ngành/chương trình đào tạo Công nghệ kỹ thuật cơ điện tử, Công nghệ thông tin, Công nghệ kỹ thuật điều khiển và tự động hóa, Robot và trí tuệ nhân tạo, Công nghệ đa phương tiện, Công nghệ kỹ thuật ô tô, Hóa dược phải có điểm trung bình chung học tập của từng năm lớp 10, 11, 12 từ 8.0 trở lên. Nhà trường thống nhất với các trường Dự bị Đại học về chỉ tiêu theo quy chế tuyển sinh, bồi dưỡng dự bị đại học.<br />

            <b>
            1.3. Thời gian đăng ký xét tuyển: Từ ngày 5/5/2023 đến ngày 30/6/2023.<br />

            1.4. Hình thức đăng ký xét tuyển: Nộp hồ sơ trực tiếp tại trường (mẫu hồ sơ theo quy định của Bộ GD&ĐT)<br />

            1.5. Thời gian công bố kết quả xét tuyển: Trước 17h00 ngày 05/7/2023.<br />
            </b>
        </p>

    </div>
    <div class="list_image">
        <img class="introduce_image" src="~/Images/t89422.jpg" />
        <img class="introduce_image" src="~/Images/t89103.jpg" />
        <img class="introduce_image" src="~/Images/m84520.jpg" />

    </div>
</div>
