
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>

    <tr>
        <th colspan="2">Thông tin sinh viên</th>
    </tr>
    <tr>
        <td>Mã sinh viên:</td>
        <td>SV001</td>
    </tr>
    <tr>
        <td>Họ tên:</td>
        <td>Lê Quang Huy</td>
    </tr>
    <tr>
        <td>Ngày sinh:</td>
        <td>07/12/2002</td>
    </tr>
    <tr>
        <td>Quê quán:</td>
        <td>Hà nội</td>
    </tr>
</table>

