
@{
    ViewBag.Title = "Xuly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xuly</h2>

<div>
    @*<ul>
            <li>Mã sinh viên: @ViewBag.ma</li>
            <li>Họ tên: @ViewBag.ten</li>
            <li>Điểm: @ViewBag.diem</li>
        </ul>*@
    <div>Kết quả: @ViewBag.kq</div>
</div>

