
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form action="~/NhapThongTin/Result2" >
    Nhap id: <input type="text" name="id" /><br />
    Nhap ten: <input type="text" name="name" /><br />
    Nhap mark: <input type="text" name="mark" /><br />
    <button value="">Submit</button>
</form>