@model View_controll.Models.SinhVien
@{
    ViewBag.Title = "Result1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result1</h2>

<div>
    ID: @Model.id
</div>
<div>
    Name: @Model.name
</div>
<div>
    Mark: @Model.mark
</div>