
@{
     ViewBag.Title = "Tinh toan";
     Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Tính toán</h2>
<br/>
<form>
     <label>Number 1</label>&nbsp;&nbsp;<input type="text" name="num1" /><br /><br />
     <label>Number 2&nbsp;&nbsp;</label><input type="text" name="num2" /><br /><br />
     <label>Phep tinh</label>&nbsp;&nbsp;
     <input type="radio" name="pheptinh" value="+" /> Cong&nbsp;
     <input type="radio" name="pheptinh" value="-" /> Tru &nbsp;
     <input type="radio" name="pheptinh" value="*" /> Nhan &nbsp;
     <input type="radio" name="pheptinh" value="/" /> Chia &nbsp;
     <br /><br />
     <input type="submit" value="Tinh" />
     <br /><br />

</form>

