@{
    ViewBag.Title = "Home Page";
}
<style>
    tr,td{
        padding:5px;
    }
</style>
<div>
    <table width="300px" border="1" >
        <thead>
            <tr>
                <td>Name</td>
                <td>Value</td>
            </tr>
        </thead>
        <tr>
            <td>Today is: </td>
            <td>@ViewBag.Day</td>
        </tr>
        <tr>
            <td>Hour: </td>
            <td>@ViewBag.Hour</td>
        </tr>
        <tr>
            <td>Minute: </td>
            <td>@ViewBag.Minute</td>
        </tr>
        <tr>
            <td>Second: </td>
            <td>@ViewBag.Second</td>
        </tr>
    </table>
</div>