@model IEnumerable<WebApplication1.Models.Category>

@{
    ViewBag.Title = "Index2";
}
<style>
    .nav_category{

    }
    .nav_category ul{

    }
    .nav_category ul li{
        list-style:none;
        float:left;
    }
    .nav_category ul li a{
        padding:0 10px;
        color:black;
        font-size:16px;
    }
</style>

<div class="nav_category">
    <ul>
        @foreach (var item in Model)
        {
        <li><a>@Html.DisplayFor(modelItem => item.CategoryName)</a></li>
        }
    </ul>
</div>


