
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/UpLoadMail/Send" method="post" enctype="multipart/form-data">
    <div>
        From:<br />
        <input type="email" name="mailFrom" />
    </div>
    <div>
        To:<br />
        <input type="email" name="mailTo" />
    </div>
    <div>
        Subject:<br />
        <input type="text" name="subject" />
    </div>
    <div>
        Attachment:<br />
        <input type="file" name="files" multiple />
    </div>
    <div>
        Notes: <br />
        <textarea name="message" rows="5" cols="40"></textarea>
    </div>
    <div>
        <input type="submit" name="" value="Send" />
    </div>

</form>
@ViewBag.HanhDong